.calculator{
    width: 20em;
    height: 30em;
    margin: 10px auto;
    padding: 0px 25px;
    justify-content: center;
    background: linear-gradient(chocolate,chocolate);
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 10px 20px 0;
}

/*h1.title*/

/*abbr.title*/

/*div.display*/

/*div.row*/

/*abbr.oporeto*/

/*abbr.nama*/

/*button.controls*/

/*button.number*/

/*button.operator*/

/*button.tall-operator*/



